.vscode/settings.json
scp_workflow/prefect_test/
utility/__pycache__/__init__.cpython-37.pyc
utility/__pycache__/my_logger.cpython-37.pyc
utility/__pycache__/MyLogger.cpython-37.pyc
.idea/*
log.log
__pycache__/*
./*/__pycache__/*
prefect_test/workflow_test.py
prefect_test/dict_test.py
prefect_test/docker_pipeline_imperatvice_api.py
.vscode/launch.json
scp_modelparser/__pycache__/__init__.cpython-38.pyc
scp_workflow/prefect_test/test4.py
